<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "blog">
        <div class = "top">
            <h1>Blog</h1>
            <button class = "createBlogButton">Create</button>
            <div class = ""></div>
        </div>
    </div>
</body>
</html>