<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <form action="/" method="post">
      <input type="text" name="city" placeholder="Enter your city" />
      <button type="submit">Submit</button>
    </form>

    <%if (weather) {%>
    <p><%=weather%></p>
    <%} else if(error){%>
    <p style="color: red">⚠️ Please enter a city.</p>

    <%}%>
  </body>
</html>
